@model Green_Stuff.Models.ViewModels.SizesVM
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.oSize.IdSize == 0)
{
    <h1>Crear Tamaño</h1>
}
else
{
    <h1>Editar</h1>
}

<div class="row">
    <div class="col-4">
        <form asp-action="Detail" asp-controller="Sizes" method="post">
            <input type="hidden" asp-for="oSize.IdSize" />
            <div class="mb-2">
                <label class="fore-label" asp-for="oSize.Name">Nombre</label>
                <input class="form-control form-control-sm" asp-for="oSize.Name" type="text" />
            </div>
            <div class="mb-2">
                <label class="fore-label" asp-for="oSize.Description">Descripción</label>
                <input class="form-control form-control-sm" asp-for="oSize.Description" type="text" />
            </div>
            <div class="mb-2">
                <label class="fore-label" asp-for="oSize.ModificationDate">Fecha modificación</label>
                <input class="form-control form-control-sm" asp-for="oSize.ModificationDate" type="text" />
            </div>
            <div class="mb-2">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" asp-for="oSize.Enabled">
                    <label class="form-check-label" for="flexSwitchCheckChecked" asp-for="oSize.Enabled">Habilitado</label>
                </div>
            </div>

            <div class="mb-3">
                @if (Model.oSize.IdSize == 0)
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Crear</button>
                }
                else
                {
                    <button class="btn btn-primary btn-sm w-25" type="submit">Actualizar</button>
                }
                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="Sizes">Volver</a>
            </div>
        </form>
    </div>

</div>