@model dynamic
@{
    ViewData["Title"] = "Compra Exitosa";
}

<h1>¡Gracias por tu compra!</h1>
<p>Tu compra ha sido procesada con éxito.</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al Inicio</a>
